body{
    background-image: url(/images/fundo.png);
}

.header-flex {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px; 
}

.nav-flex {
    display: flex;
    justify-content: flex-end;
}

.nav-flex ul {
    list-style: none;
    margin: 0; 
    padding: 0;
    display: flex;
}

.nav-flex li {
    margin: 0 10px;
}

.nav-flex a {
    text-decoration: none; 
    color: black; 
    font-weight: bold; 
}


.capa-flex{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    
}

h4{
    
    bottom: 0;
    width: 100%;
    text-align: center;
    ;
}